/*Colors*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/*Colors*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #BF8F73;
  height: 15vh; }
  header .texto {
    color: gray; }

main {
  background-color: #8C5954;
  height: 70vh; }
  main .texto {
    color: gray; }

footer {
  background-color: #BF8F73;
  height: 15vh; }
  footer .texto {
    color: gray; }
