/*Colors*/
$black: #000;
$bg: #3B3440;
$white: #F2EBD5;
$yellow: #F2C185;
$ligthBrown: #BF8F73;
$darkBrown: #8C5954;
$white: #fff;

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');