/* Color Theme Swatches in Hex */
$dark: #363F40;
$semi-dark: #5F6D73;
$ligth-2: #92A0A6;
$ligth-1: #AAB9BF;
$main-ligth: #D0D8D9;

/* Color Theme Swatches in RGBA */
// $color: rgba(95,109,114, 1);
// $color: rgba(145,160,165, 1);
// $color: rgba(170,185,191, 1);
// $color: rgba(54,62,63, 1);
// $color: rgba(208,215,216, 1);