@import "variables";
@import "mixines";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $main-ligth;
    height: 100vh;
    width: 100%;
    display: flex;
    .inputs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50vw;
        font-family: 'Nunito', sans-serif;
        #name, #ID, #price{
            flex-direction: column;
            margin: 10px;
            height: 32px;
            width: 350px;
            padding: 12px;
            border-radius: 5px;
            border: 2px solid transparent;
        }
    }
   .buttons{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    .btnCreate{
        background-color: $dark;
        height: 50px;
        width: 150px;
        border: none;
        border-radius: 30px;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 2px;
        color: $main-ligth;
        transition: all .375s;
        flex-direction: row;
        margin: 5px;
        padding: 10px;
    }
    .btnCreate:hover{
        letter-spacing: 3px;
        width: 200px;
        color: #F2F2F2;
        background-color: green;
    }
   }
}
